<div class="row" style="margin-top:20px">
    <div class="col-md-12">
        <form>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="county">County</label>
                                        <input type="text" class="form-control"
                                            placeholder="County Name"
                                            ng-model="FormController.demographics.county">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="population">Population</label>
                                        <input type="number"
                                            class="form-control"
                                            placeholder="Population"
                                            ng-model="FormController.demographics.population">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="gender">Gender</label>
                                        <label for="gender"> - {{1 - FormController.demographics.gender.male - FormController.demographics.gender.female}}</label>
                                        <input type="number" class="form-control"
                                            placeholder="Male"
                                            ng-model="FormController.demographics.gender.male">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="gender">&nbsp;</label>
                                        <input type="number" class="form-control"
                                             placeholder="Female"
                                             ng-model="FormController.demographics.gender.female">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="text">State</label>
                                        <input type="text" class="form-control"
                                            placeholder="State"
                                            ng-model="FormController.demographics.state">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="race">Race</label>
                                        <label for="race"> - {{1 - FormController.demographics.ages.white - FormController.demographics.ages.hispanic - FormController.demographics.ages.black - FormController.demographics.ages.asian - FormController.demographics.ages.native - FormController.demographics.ages.others}}</label>
                                        <input type="number" class="form-control"
                                        placeholder="White" ng-model="FormController.demographics.race.white">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="race">&nbsp;</label>
                                        <input type="number" class="form-control" placeholder="Hispanic"
                                         ng-model="FormController.demographics.race.hispanic">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="race">&nbsp;</label>
                                        <input type="number" class="form-control" placeholder="Black"
                                         ng-model="FormController.demographics.race.black">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <!-- <label for="gender">&nbsp;</label> -->
                                        <input type="number" class="form-control" placeholder="Asian"
                                         ng-model="FormController.demographics.race.asian">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <!-- <label for="gender">&nbsp;</label> -->
                                        <input type="number" class="form-control" placeholder="Native"
                                         ng-model="FormController.demographics.race.native">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <!-- <label for="gender">&nbsp;</label> -->
                                        <input type="number" class="form-control" placeholder="Others"
                                         ng-model="FormController.demographics.race.others">
                                    </div>
                                </div>
                            </div>

                            <!-- Income -->
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="income">Income</label>
                                        <label for="race"> - {{1 - FormController.demographics.income['00..10'] - FormController.demographics.income['10..15'] - FormController.demographics.income['15..25'] - FormController.demographics.income['25..30'] - FormController.demographics.income['35..50'] - FormController.demographics.income['50..75'] - FormController.demographics.income['75..100'] - FormController.demographics.income['100..150'] - FormController.demographics.income['150..200'] - FormController.demographics.income['200..999']}}</label>
                                        <input type="number" class="form-control" placeholder="Mean"
                                         ng-model="FormController.demographics.income.mean">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="income">&nbsp;</label>
                                        <input type="number" class="form-control" placeholder="Meadian"
                                         ng-model="FormController.demographics.income.median">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="income">&nbsp;</label>
                                        <input type="number" class="form-control" placeholder="00..10"
                                         ng-model="FormController.demographics.income['00..10']">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="gender">&nbsp;</label>
                                        <input type="number" class="form-control" placeholder="10..15"
                                         ng-model="FormController.demographics.income['10..15']">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="gender">&nbsp;</label>
                                        <input type="number" class="form-control" placeholder="15..25"
                                         ng-model="FormController.demographics.income['15..25']">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="gender">&nbsp;</label>
                                        <input type="number" class="form-control" placeholder="25...30"
                                         ng-model="FormController.demographics.income['25..30']">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <!-- <label for="gender">Income</label> -->
                                        <input type="number" class="form-control" placeholder="35..50"
                                         ng-model="FormController.demographics.income['35..50']">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <!-- <label for="gender">&nbsp;</label> -->
                                        <input type="number" class="form-control" placeholder="50..75"
                                         ng-model="FormController.demographics.income['50..75']">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <!-- <label for="gender">&nbsp;</label> -->
                                        <input type="number" class="form-control" placeholder="75..100"
                                         ng-model="FormController.demographics.income['75..100']">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <!-- <label for="gender">&nbsp;</label> -->
                                        <input type="number" class="form-control" placeholder="100..150"
                                         ng-model="FormController.demographics.income['100..150']">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <!-- <label for="gender">&nbsp;</label> -->
                                        <input type="number" class="form-control" placeholder="150..200"
                                         ng-model="FormController.demographics.income['150..200']">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <!-- <label for="gender">&nbsp;</label> -->
                                        <input type="number" class="form-control" placeholder="200...999"
                                         ng-model="FormController.demographics.income['200..999']">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="gender">Education</label>
                                        <label for="race"> - {{1 - FormController.demographics.education.less_than_hs - FormController.demographics.education.hs_degree - FormController.demographics.education.some_college - FormController.demographics.education.bs_degree}}</label>
                                        <input type="number" class="form-control" placeholder="less than hs" ng-model="FormController.demographics.education.less_than_hs">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="gender">&nbsp;</label>
                                        <input type="number" class="form-control" placeholder="hs degree" ng-model="FormController.demographics.education.hs_degree">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="gender">&nbsp;</label>
                                        <input type="number" class="form-control" placeholder="some college" ng-model="FormController.demographics.education.some_college">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="gender">&nbsp;</label>
                                        <input type="number" class="form-control" placeholder="bs degreee" ng-model="FormController.demographics.education.bs_degree">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="gender">Numbers of records</label>
                                        <input type="number" class="form-control" placeholder="Records"
                                            ng-model="FormController.data.population">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" ng-click="FormController.sayHello()">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
